<!-- тема info -->
<div class="kback">
    <a href="{% url 'kback' %}" class="btn btn-outline-info" role="button" aria-pressed="true">
        <i class="fa fa-gift" aria-hidden="true"></i>  Кэшбэк
    </a>
</div>

<div class="sticky">


    <div class="alert alert-light" role="alert">

<!--<i class="fa fa-plane" aria-hidden="true"></i>-->

      <div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingZero">
      <span class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          <i class="fa fa-bed" aria-hidden="true"></i> Проживание
        </button>
      </span>
    </div>

    <div id="collapseZero" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <a href="https://www.booking.com/apartments/index.html?aid=1766359" class="alert-link">Booking
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          <a href="#" class="alert-link">Airbnb
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          <a href="https://ad.admitad.com/g/ypaux4mj7f5664137d9b6af3bd8a89/" class="alert-link">HotelsCombined
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <span class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa fa-plane" aria-hidden="true"></i> Билеты на самолёт
        </button>
      </span>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <a href="https://n.apsale.net/click/5ccac975a035941a07088e19/121414/228601/subaccount" class="alert-link">jetradar
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          <a href="https://apyecom.com/click/5ccacacfa03594362e78e80d/126480/228601/subaccount" class="alert-link">kiwi
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          <a href="https://ad.admitad.com/g/yk224wdch25664137d9b6acf6f3f63/" class="alert-link">tickets
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="card">
          <div class="card-header" id="headingTwo">
      <span class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-bus" aria-hidden="true"></i> Билеты на автобус
        </button>
      </span>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  <a href="https://rdr.salesdoubler.com.ua/in/offer/1714?aid=74902" class="alert-link">inBus
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
                  <a href="https://rdr.salesdoubler.com.ua/in/offer/1561?aid=74902" class="alert-link">INFOBUS
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
                  <a href="https://ad.admitad.com/g/yk224wdch25664137d9b6acf6f3f63/" class="alert-link">tickets
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
                  <a href="https://rdr.salesdoubler.com.ua/in/offer/2046?aid=74902" class="alert-link">Flixbus
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
              </div>
          </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <span class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-train" aria-hidden="true"></i> Билеты на поезд
        </button>
      </span>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
           <a href="https://booking.uz.gov.ua/ru/" class="alert-link">Ukrzaliznytsya
           <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
           <a href="https://ad.admitad.com/g/yk224wdch25664137d9b6acf6f3f63/" class="alert-link">tickets
           <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
           <a href="https://rdr.salesdoubler.com.ua/in/offer/884?aid=74902" class="alert-link">Proizd
           <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

<div class="alert" role="alert">
  <p>
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Промокоды
  </a>
</p>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <a href="https://www.picodi.com/ua/busfor" class="alert-link">picodi
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <a href="https://busfor.ua/ru/blog/busfor-ua-promocode" class="alert-link">busfor
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <a href="https://www.promokod.com.ua/shop/busfor.ua" class="alert-link">promokod
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <a href="https://promocodius.com/ua/" class="alert-link">promocodius
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  </div>
</div>

</div>
</div>

     <div class="alert alert-light" role="alert">
     <i class="fa fa-umbrella" aria-hidden="true"></i> Страховка OnLine<br>

     <a href="https://rdr.salesdoubler.com.ua/in/offer/2057?aid=74902" class="alert-link">ВУСО
     <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
     <i class="fa fa-car" aria-hidden="true"></i> Прокат автомобиля<br>

     <a href="http://www.dpbolvw.net/click-9083002-12633170" class="alert-link">carrental8
     <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
     </div>


 </div>