<!-- тема info -->
<div class="kback">
    <a href="{% url 'kback' %}" class="btn btn-outline-info" role="button" aria-pressed="true">
        <i class="fa fa-gift" aria-hidden="true"></i>  Кэшбэк
    </a>
</div>

<div class="sticky">


    <div class="alert alert-light" role="alert">

<!--<i class="fa fa-plane" aria-hidden="true"></i>-->

      <div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingZero">
      <span class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          <i class="fa fa-bed" aria-hidden="true"></i> Проживание
        </button>
      </span>
    </div>

    <div id="collapseZero" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <a href="https://hotellook.tp.st/uEtJ2GVZ" class="alert-link">Hotellook
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          <a href="https://trip.tp.st/BdsGNBbj" class="alert-link">Trip.com
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
         
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <span class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa fa-plane" aria-hidden="true"></i> Билеты на самолёт
        </button>
      </span>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <a href="https://aviasales.tp.st/8RYV6khz" class="alert-link">Авиасейлс
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          
      </div>
    </div>
  </div>
  <div class="card">
          <div class="card-header" id="headingTwo">
      <span class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-bus" aria-hidden="true"></i> Билеты на автобус
        </button>
      </span>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  <a href="https://trip.tp.st/BdsGNBbj" class="alert-link">Trip.com
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
                 
              </div>
          </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <span class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-train" aria-hidden="true"></i> Билеты на поезд
        </button>
      </span>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
           <a href="https://trip.tp.st/BdsGNBbj" class="alert-link">Trip.com
           <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
           
      </div>
    </div>
  </div>

<div class="alert" role="alert">
  <p>
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Промокоды
  </a>
</p>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <!--<a href="https://www.picodi.com/ua/busfor" class="alert-link">picodi
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <a href="https://busfor.ua/ru/blog/busfor-ua-promocode" class="alert-link">busfor
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <a href="https://www.promokod.com.ua/shop/busfor.ua" class="alert-link">promokod
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      <a href="https://promocodius.com/ua/" class="alert-link">promocodius
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>-->
	  <div style="text-align: center; font-size: 18px; color: #555;">
    <span style="font-size: 50px; display: block; margin-bottom: 10px;">😔</span>
    <p>К сожалению, в этом разделе пока ещё ничего нет. Мы работаем над тем, чтобы исправить это. Приходите чуть позже – нам действительно жаль, что пока нечем порадовать!</p>
</div>

  </div>
</div>

</div>
</div>

     <div class="alert alert-light" role="alert">
     <!--<i class="fa fa-umbrella" aria-hidden="true"></i> Страховка OnLine<br>

     <a href="https://cherehapa.tp.st/r2SYQkGt" class="alert-link">Cherehapa
     <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>-->
     <i class="fa fa-car" aria-hidden="true"></i> Прокат автомобиля<br>

     <a href="https://getrentacar.tp.st/rfsneANN" class="alert-link">GetRentacar.com
     <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
     </div>


 </div>