{% load static %}
<hr>
<footer>
    <div class="mountain"></div>

    <a href="https://www.instagram.com/freetour_ua/" target="_blank"><i class="fab fa-instagram"></i></a>
    <!--<a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
	<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>--> <!-- Используем старую иконку Twitter -->
    <a href="https://www.pinterest.com/freetour_ua" target="_blank"><i class="fab fa-pinterest"></i></a>
    <!--<a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>-->
	<a href="https://www.tiktok.com/@freetour_ua" target="_blank"><i class="fab fa-tiktok"></i></a>
</footer>

<div class="subfooter">
    <p>&copy; copyright 2024 CHEEKY traveler</p>
    
</div>

