<hr>
<footer>
    <div class="mountain"></div>

    <a href="https://t.me/CheekyTraveler"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    <a href="https://www.fb.me/CheekyTraveler"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/vzcheeky/?hl=ru"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <!--<a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>-->
</footer>
  <div class="subfooter">
    <p>&copy; copyright 2019 CHEEKY traveler</p>
    <p>Сделано с любовью к путешествиям</p>
  </div>

