{% load static %}
<div class="page-header headline-style">
  <div class="row">
            <div class="col-md-4">
                <div class="hear-block-left">
                    <!--<img class="img-fluid" src="{% static '../media/logo/logo.png' %}" alt="My logo"/>-->
                    <a class="navbar-brand" href="{% url 'post_list' %}"><img class="img-fluid" src="{% static '/media/logo/logo.png' %}" alt="My logo"/></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="head-block-center"></div>
            </div>
            <div class="col-md-4">
                <div class="head-block-right">
                <a href="https://t.me/CheekyTraveler"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                <a href="https://www.fb.me/CheekyTraveler"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/vzcheeky/?hl=ru"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <!--<a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>-->
                </div>
            </div>
   </div>
</div>