{% extends 'blog/base.html' %}



{% block content %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">
    <!--<i class="fa fa-info" aria-hidden="true"></i>-->
    Кэшбэк</h4>
  <p>Кэшбэк (с англ. Cashback, дословно: «Возврат денег») – возврат части потраченных денег с покупки в интернет-магазине/сервисе
      с которым мы сотрудничаем.<br>
     На практике получения кэшбэка не занимает много времени, достаточно единоразово ознакомиться с правилами
      (до 5 минут), а затем перед покупкой совершать переход через наш сервис (до 1 минуты).<br>

  </p>
  <hr>
  <p class="mb-0">
      Выбирите из нижеприведённого списка компаний ту, которая вас интересует и перейдите по ссылке.
      Далее следуйте указаниям на сайте.<br><br>
      <em>Желаем успехов!</em>
  </p>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#One" aria-expanded="true" aria-controls="collapseOne">
          Aviasales
        </button>
      </h5>
    </div>

    <div id="One" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Aviasales.ru – проверенный помощник в поиске авиабилетов, первый и единственный в Рунете метапоиск дешевых авиабилетов.
          Мы ищем авиабилеты в 728 авиакомпаниях, 15 авиакассах и 5 системах. Никаких сборов или наценок – на aviasales.ru
          лишь максимально низкие тарифы от надежных агентств, а где покупать – решать вам.<br>
          Перейдите по ссылке <a href="https://pafutos.com/g/bd7a1b83375664137d9b8b0fa31d56/" class="alert-link">
          Aviasales</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Two" aria-expanded="false" aria-controls="collapseTwo">
          OneTwoTrip
        </button>
      </h5>
    </div>
    <div id="Two" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          OneTwoTrip — лидер онлайн-рынка сервисов путешествий в странах пост-советского пространства.
          Сервис помогает легко спланировать путешествие: забронировать по специальным ценам апартаменты или номер в отелях
          по всему миру, купить авиабилет любой авиакомпании, билет на поезд или автобус по России, СНГ и Европе.
          Клиенты могут арендовать машину, заказать экскурсию с гидом, приобрести пакет «Перелёт + отель» или
          готовый тур — на сайте и в приложении собраны предложения 50 крупнейших туроператоров.
          Каждый день через сайт OneTwoTrip.com и мобильные приложения для iOS и Android пользователи покупают
          более 15000 тревел-продуктов.<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/49c113f01e5664137d9b02b3e23ee2/" class="alert-link">
          OneTwoTrip</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Three" aria-expanded="false" aria-controls="collapseThree">
          inBus
        </button>
      </h5>
    </div>
    <div id="Three" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        inBus – это онлайн сервис продажи автобусных билетов на украинские и европейские автобусные маршруты.
        Для покупки клиентам доступны автобусные билеты более 1000 перевозчиков на свыше 30000 рейсов.
        По данному офферу действует следующая система выплат:<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/2u6f053vzr5664137d9bd432794c21/" class="alert-link">
          inBus</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Four" aria-expanded="false" aria-controls="collapseThree">
          Pokupon
        </button>
      </h5>
    </div>
    <div id="Four" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Pokupon.UA - это лучший сервис коллективных покупок. Каждый день сервис предлагает клиентам скидки до 90% на товары и услуги.
          С Pokupon.UA вы всегда будете знать, где провести время с друзьями, какой кинотеатр посетить, где предлагают самые вкусные
          блюда, куда поехать отдохнуть и что купить для дома и семьи. Pokupon.UA - это всегда самые выгодные и уникальные предложения<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/ec2wdatwkh5664137d9b74a80b7b5c/" class="alert-link">
          Pokupon</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Five" aria-expanded="false" aria-controls="collapseThree">
          Globol.com
        </button>
      </h5>
    </div>
    <div id="Five" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Globol.com - это торговая площадка для бронирования билетов, туров и экскурсий.
          Более 2500 туров, более 70 городов и незабываемые эмоции.<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/cpnhlnsi2p5664137d9b7586be3361/" class="alert-link">
          Globol.com</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Six" aria-expanded="false" aria-controls="collapseThree">
          TRAVELLIZY
        </button>
      </h5>
    </div>
    <div id="Six" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Компания TRAVELLIZY - глобальная онлайн платформа, которая предоставляет комплекс решений по организации путешествий:
          авиабилеты, отели, аренда авто, билеты на поезд, круизы, туры, рестораны и многое другое в любой точке мира.<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/j4enfjo2nx5664137d9beed1a685a7/" class="alert-link">
          TRAVELLIZY</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Seven" aria-expanded="false" aria-controls="collapseThree">
          Jetradar.com
        </button>
      </h5>
    </div>
    <div id="Seven" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        JetRadar.com – проверенный помощник в поиске авиабилетов.
          Мы ищем авиабилеты в 728 авиакомпаниях, 15 авиакассах и 5 системах.
          Никаких сборов или наценок –  лишь максимально низкие тарифы от надежных агентств.<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/77fc3e07925664137d9bda07f65aea/" class="alert-link">
          Jetradar.com</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Eight" aria-expanded="false" aria-controls="collapseThree">
          Privat24
        </button>
      </h5>
    </div>
    <div id="Eight" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Privat24 - весь ПриватБанк в Вашем смартфоне.
          Вознаграждение выплачивается после первой установки мобильного приложения Privat24 по ссылке из SMS и авторизации
          в приложении в течении 30 дней после подачи заявки (ввести логин, пароль и совершить успешный вход).<br>
          Перейдите по ссылке <a href="https://ad.admitad.com/g/tzcthzvja75664137d9b3f8976b51e/" class="alert-link">
          Privat24</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Nine" aria-expanded="false" aria-controls="collapseThree">
          grivasi
        </button>
      </h5>
    </div>
    <div id="Nine" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Grivasi - это кэшбэк сервис который предоставляет лучшие условия в Украине. У нас высокие ставки кэшбэка,
          квалифицированная служба поддержки, мультивалютный счёт, большое количество партнёров, а также минимальный вывод всего 5 гривен.<br>
          Перейдите по ссылке <a href="https://grivasi.com/welcome/?user=9503" class="alert-link">
          Grivasi</a> и получите скидку!
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success indent" role="alert">
  P.S.<br>
    - При использовании Кэшбэка, как и других скидок и акционных предложений, следует относиться к этому с определённой
    долей здорового скептицизма, так как иногда, будь то из-за технического сбоя или преднамеренных действий покупка
    чего бы то ни было обходится или по обычной стоимости или даже несколько дороже. Поэтому всегда нужно, делать альтернативную
    предпокупку и изучать цены, прежде чем совершать действие, направленное на покупку.
</div>




{% endblock %}