{% extends 'blog/base.html' %}



{% block content %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">
    <!--<i class="fa fa-info" aria-hidden="true"></i>-->
    Кэшбэк</h4>
  <p>Кэшбэк (с англ. Cashback, дословно: «Возврат денег») – возврат части потраченных денег с покупки в интернет-магазине/сервисе
      с которым мы сотрудничаем.<br>
     На практике получения кэшбэка не занимает много времени, достаточно единоразово ознакомиться с правилами
      (до 5 минут), а затем перед покупкой совершать переход через наш сервис (до 1 минуты).<br>

  </p>
  <hr>
  <!--<p class="mb-0">
      Выбирите из нижеприведённого списка компаний ту, которая вас интересует и перейдите по ссылке.
      Далее следуйте указаниям на сайте.<br><br>
      <em>Желаем успехов!</em>
  </p>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#One" aria-expanded="true" aria-controls="collapseOne">
          Aviasales
        </button>
      </h5>
    </div>

    <div id="One" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        TopCashback. Один из крупнейших мировых кэшбэк-сервисов, предлагающий возврат средств за бронирование на таких платформах, 
		как Booking.com, Expedia и других. Перейдите по ссылке <a href="https://www.topcashback.com/" class="alert-link">
          TopCashback</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Two" aria-expanded="false" aria-controls="collapseTwo">
          OneTwoTrip
        </button>
      </h5>
    </div>
    <div id="Two" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          Rakuten (ранее Ebates): Популярный сервис с обширной сетью партнеров, включая туристические компании и онлайн-агентства<br>
          Перейдите по ссылке <a href="https://www.rakuten.com/" class="alert-link">
          Rakuten</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Three" aria-expanded="false" aria-controls="collapseThree">
          inBus
        </button>
      </h5>
    </div>
    <div id="Three" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        BeFrugal: Платформа, предоставляющая кэшбэк за бронирование отелей, аренду автомобилей и покупку авиабилетов через партнерские сайты.<br>
          Перейдите по ссылке <a href="https://www.befrugal.com/" class="alert-link">
          BeFrugal</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Four" aria-expanded="false" aria-controls="collapseThree">
          Pokupon
        </button>
      </h5>
    </div>
    <div id="Four" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        ShopBack: Популярный в Азиатско-Тихоокеанском регионе кэшбэк-сервис, предлагающий возврат средств за бронирование 
		путешествий через различные онлайн-агентства.<br>
          Перейдите по ссылке <a href="https://corporate.shopback.com/" class="alert-link">
          ShopBack</a> и получите скидку!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Five" aria-expanded="false" aria-controls="collapseThree">
          Globol.com
        </button>
      </h5>
    </div>
    
  </div>-->
</div>

<div class="alert alert-success indent" role="alert">
  P.S.<br>
    <div style="text-align: center; font-size: 18px; color: #555;">
    <span style="font-size: 24px;">🔍</span>
    <p>Пока кешбэк ещё не приехал, но мы активно ведём его поиски! Скоро начнём возвращать вам часть потраченного. Следите за обновлениями – мы уже почти поймали его за хвост!</p>
    </div>

</div>




{% endblock %}