{% extends 'blog/base.html' %}
{% block content %}
    {% for post in page_object.object_list %}
 
 
<div class="post">
    <div class="date">
        {{ post.published_date }}
    </div>
    {% autoescape off %}
    <h4 class="t_style">
        <a href="{{ post.get_absolute_url }}">
            <i class="fa fa-pull-left fa-paper-plane-o" aria-hidden="true"></i>
            {{ post.title }}
        </a>
    </h4>

    <h6>
        <b>Дата:</b>
        <span><em class="from_to">{{ post.from_to }}</em></span>
    </h6>

    <p class="lead">{{ post.text_1|linebreaksbr|truncatewords:25 }}</p>

    <!-- Добавляем кнопку здесь -->
    <div class="button-container">
        <button class="btn-gradient" onclick="location.href='{{ post.get_absolute_url }}'">Перейти</button>
    </div>
    {% endautoescape %}
</div>



    {% endfor %}

<div class="alert alert-success" role="alert">
  Хотите посмотреть <a href="{% url 'fulllist' %}" class="alert-link"><i class="fa fa-link" aria-hidden="true"></i> весь список постов?</a> Просто перейдите 
  по ссылке!
</div>
<hr class="style17">
<!-- Подписка на рассылку новостей. Начало -->
<!-- Карточка с шапкой и футером -->
{% include 'subscription_link.html' %}
<!-- Конец карточки -->
<!-- Подписка на рассылку новостей. Конец -->

<!-- Пагинатор, начало! {% if in_paginated %} {% endif %} -->
<br>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not prev_url %} disabled {% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

    {% for n in page_object.paginator.page_range %}
      {% if page_object.number == n %}
          <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
          </li>
      {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="page-item {% if not next_url %} disabled {% endif %}">
      <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
    </li>

  </ul>
</nav>

<!-- Пагинатори, конец! -->


{% endblock %}