{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    {% include 'breadcrumb.html' %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1 class="title_style">{{ post.title }}</h1>
        {% if post.image %}
                    <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.image}}" src="{{ MEDIA_URL }}{{post.image.url}}" />

        {% endif %}
        {% autoescape off %}
            <p>{{ post.text_1|linebreaksbr|urlize }}</p>
        {% endautoescape %}

        {% if post.screenshot_1 %}
            <p>
                <b>Пример бронирования 1:</b><br><br>
                <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.screenshot_1}}" src="{{ MEDIA_URL }}{{post.screenshot_1.url}}" />
            </p>
        {% endif %}
        <br>
        {% if post.screenshot_2 %}
            <p>
                <b>Пример бронирования 2:</b><br><br>
                <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.screenshot_2}}" src="{{ MEDIA_URL }}{{post.screenshot_2.url}}" />
            </p>
        {% endif %}
        <br>
        {% if post.screenshot_3 %}
            <p>
                <b>Пример бронирования 3:</b><br><br>
                <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.screenshot_3}}" src="{{ MEDIA_URL }}{{post.screenshot_3.url}}" />
            </p>
        {% endif %}
        <br>
        {% autoescape off %}
            <p>{{ post.text_2|linebreaksbr|urlize }}
            <i class="fa fa-coffee" aria-hidden="true"></i>
            </p>

        {% endautoescape %}

        <hr>
    </div>


<!-- Подписка на рассылку новостей. Начало -->
<!-- Карточка с шапкой и футером -->
{% include 'subscription_link.html' %}
<!-- Конец карточки -->
<!-- Подписка на рассылку новостей. Конец -->

{% endblock %}