<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">NEW</a></h1>
        </div>

        {% for post in posts %}

            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="{{ post.reference_1 }}">{{ post.title }}</a></h1>
                <p><b>{{ post.text_1|linebreaksbr }}</b></p><br>
                <p>{{ post.text_2|linebreaksbr }}</p>
            </div>

        {% endfor %}

    </body>
</html>