{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    {% include 'breadcrumb.html' %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1 class="title_style">{{ post.title }}</h1>
        {% if post.image %}
                    <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.image}}" src="{{ MEDIA_URL }}{{post.image.url}}" />

        {% endif %}
        {% autoescape off %}
            <p>{{ post.text_1|linebreaksbr|urlize }}</p>
        {% endautoescape %}

        {% if post.screenshot_1 %}
		
		<!-- Рекламный блок_1 -->
		{% include 'subscription_link_1.html' %}
		
            <p>
                <b>Пример бронирования:</b><br><br>
                <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.screenshot_1}}" src="{{ MEDIA_URL }}{{post.screenshot_1.url}}" />
            </p>
        {% endif %}
        <br>
        {% if post.screenshot_2 %}
		
				
            <p>
                <b>Пример бронирования:</b><br><br>
                <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.screenshot_2}}" src="{{ MEDIA_URL }}{{post.screenshot_2.url}}" />
            </p>
        {% endif %}
        <br>

        {% autoescape off %}
            <p>{{ post.text_2|linebreaksbr|urlize }}<br>

            </p>

        {% endautoescape %}

        {% if post.screenshot_3 %}
		
		<!-- Рекламный блок_2 -->
		{% include 'subscription_link_3.html' %}
		
            <p>
                
                <img class="img-responsive img-rounded img-thumbnail img-fluid" alt="{{post.screenshot_3}}" src="{{ MEDIA_URL }}{{post.screenshot_3.url}}" />
            </p>
        {% endif %}
        <br>



        <div class="alert alert-success" role="alert">

            <span class="socnet">
                <em><b>Искать отели можно через сервис</b></em><br>
                <a href="https://level.tp.st/pc1zO8Oq" class="alert-link">
                    <i class="fa fa-bed" aria-hidden="true"></i> Level.Travel
                </a><br>
                <em>Level.Travel - это удобный интернет-сервис для выбора и покупки тура или отеля онлайн. 
				    Бренд работает напрямую с поставщиками туров, а поиск на сайте позволяет туристам выбирать 
					путешествия по десяткам параметров.<br>
                    Также, для более гибкого отслеживания цены можно воспользоваться альтернативным сервисом</em><br>
                <a href="https://hotellook.tp.st/uEtJ2GVZ" class="alert-link">
                    <i class="fa fa-bed" aria-hidden="true"></i> Hotellook
                </a><br>
				и<br>
				<a href="https://trip.tp.st/BdsGNBbj" class="alert-link">
                    <i class="fa fa-bed" aria-hidden="true"></i> Trip.com
                </a><br>

            </span>

            <hr>
            <span class="socnet">
                <em><b>Искать и бронировать авиа билеты можно через поисковики:</b></em><br>
                <em> Также сервисы помогают легко спланировать путешествие: забронировать по специальным ценам апартаменты или номер
                    в отелях по всему миру.
              
                </em><br>
                <a href="https://aviasales.tp.st/8RYV6khz" class="alert-link">Авиасейлс
          <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
		  
                <em>BikesBooking.com — сервис онлайн бронирования мотоциклов, скутеров, квадроциклов и велосипедов по всему миру.</em><br>
                <a href="https://bikesbooking.tp.st/Om5JEf80" class="alert-link">BikesBooking.com
				<i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
				
		                  
		        <em>Tiqets — крупнейшая онлайн-платформа для продажи билетов в мире. Мы предлагаем электронные билеты в музеи, 
				    шоу и аттракционы по всему миру.</em><br>
			    <a href="https://tiqets.tp.st/tBSDRyTA" class="alert-link">Tiqets		
                <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>
          
                <em> Инновационная технология <b>Tiqets</b> гарантирует, что путешественники могут забронировать билеты со своего телефона 
				     в последнюю минуту, затем получить их в электронной форме и показать с мобильного телефона в музеях, 
					 достопримечательностях и достопримечательностях.</em><br>
					 
				 <em>GetRentacar.com - номер один маркетплейс в мире по аренде авто от национальных арендных компаний и 
				     местных владельцев по лучшим ценам. </em><br>
			    <a href="https://getrentacar.tp.st/rfsneANN" class="alert-link">GetRentacar.com		
                <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>	 
				
				<em>Economybookings.com — международный сервис бронирования дешевого автопроката в мире, Европе. </em><br>
			    <a href="https://economybookings.tp.st/OX6gNUNs" class="alert-link">Economybookings.com	
                <i class="fa fa-angle-double-right" aria-hidden="true"></i></a><br>


            </span>

            <hr>
            <span class="usefullinks">
                <em>Хотите получать актуальную информацию об интересных предложениях от авиакомпаний,
                автобусных, железнодорожных перевозчиках, от систем бронирования жилья, промоакциях и
                    других интересных событиях подпишитесь на нашу группу в</em><br><br>
                <div class="head-block-left">
                <a href="https://www.instagram.com/freetour_ua/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <!--<a href="#" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
	            <a href="#" target="_blank" style="font-weight: bold;">X</a>-->
                <a href="https://www.pinterest.com/freetour_ua" target="_blank">
                    <i class="fab fa-pinterest"></i>
                </a>
				<a href="https://www.tiktok.com/@freetour_ua" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
				<a href="https://x.com/MAX_00008" target="_blank">
                   <i class="fab fa-twitter"></i>
                </a>
				<a href="https://www.reddit.com/user/freetourua/" target="_blank">
                   <i class="fab fa-reddit"></i>
                </a>

                </div>

            </span>
        </div>
        <p><em>Приятного отдыха</em> <i class="fa fa-coffee" aria-hidden="true"></i></p>

<div style="background: red; color: white; padding: 20px; text-align: center;">
    🚨 Это тестовый блок. Если ты его видишь — значит шаблон post_detail.html реально работает.
</div>






        <hr>
    </div>


<!-- Подписка на рассылку новостей. Начало -->
<!-- Основной рекламный блок -->
{% include 'subscription_link.html' %}
<!-- Конец карточки -->
<!-- Подписка на рассылку новостей. Конец -->

{% endblock %}