<div class="card">
    <!-- Шапка -->
    <div class="card-header">
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>

    <!-- Текстовый контент -->
    <div class="card-body">
        <em>
            <!-- ad_block.html -->
            <div class="ad-block" style="background-color: #4B2E83; color: #ffffff; padding: 20px; margin: 20px 0; border-radius: 5px; text-align: center;">
                <h2>Получите $25 и ускорьте получение студенческой визы в Канаду с <b>CIBC!</b></h2>
                <p>Планируете учебу в Канаде? Откройте счет <strong>CIBC International Student GIC</strong> и ускорьте процесс получения студенческой визы через программу <strong>Student Direct Stream (SDS)</strong>.</p>
                <p>Используйте мой адрес электронной почты <strong>tzvanguardia@gmail.com</strong> в разделе "Программа рекомендаций", чтобы получить бонус в размере <strong>$25</strong>!</p>
                <a href="https://www.cibc.com/en/special-offers/isbo-refer-a-friend.html?utrc=E2084:1&utm_medium=Email&utm_campaign=ISBO-x-RAF-&" target="_blank" style="display: inline-block; background-color: #FFC72C; color: #4B2E83; padding: 10px 20px; margin-top: 15px; text-decoration: none; font-weight: bold; border-radius: 5px;">Узнать больше</a>
            </div>
        </em>

        <p style="margin-top: 15px; font-size: 16px; text-align: center;">
            ✈️ Хочешь улететь за копейки? <a href="https://t.me/ryanair_deals_bot" target="_blank" style="color: #2a9df4; font-weight: bold;">Наш бот найдёт билеты от 5€!</a>
        </p>
    </div>

    <!-- Футер 
    <div class="card-footer">
        <a href="{% url 'subscription' %}"><h5>Подписаться</h5></a>
    </div>-->
</div>

