{% extends 'blog/base.html' %}
{% block content %}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">
    <!--<i class="fa fa-info" aria-hidden="true"></i>-->
    !</h4>
  <p>Форма рассылки в разработке.</p>
  <hr>
  <p class="mb-0"></p>
</div>

<form class="needs-validation" method="post">{% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>name</label>
      {{ form.name }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>email</label>
      {{ form.email }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>username_telegram</label>
      {{ form.username_telegram }}
      <div class="invalid-tooltip">
          Please choose a unique and valid username.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>departure</label>
      {{ form.departure }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>destination</label>
      {{ form.destination }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>city</label>
      {{ form.city }}
      <div class="invalid-tooltip">
          Please choose a unique and valid username.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>start_date</label>
      {{ form.start_date }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>final_date</label>
      {{ form.final_date }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>transportation_costs</label>
      {{ form.transportation_costs }}
      <div class="invalid-tooltip">
          Please choose a unique and valid username.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>start_date</label>
      {{ form.start_date }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>

  </div>

  <button class="btn btn-primary" type="submit">Отправить форму</button>
</form>


{% endblock %}