<div class="card">
    <!-- Шапка -->
    <div class="card-header">
        <i class="fa fa-bell" aria-hidden="true"></i>
        Подпишитесь на рассылку
    </div>
    <!-- Текстовый контент -->
    <div class="card-body">
        <em>
            Мы будем присылать вам самые свежие новости и подборки.
            Коротко и без спама.<br>
            <span class="pi">Нажимая на кнопку, вы даёте согласие на обработку персональных данных.</span>
        </em>
    </div>
    <!-- Футер -->
    <div class="card-footer">
        <a href="{% url 'subscription' %}"><h5>Подписаться</h5></a>
    </div>
</div>
